html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }
 /* body image background picture */
body {
    background-image: url("../images/flowe.jpg") ;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "apercu",sans-serif;
}
/* caption for each project */
.title {
        font-weight: 500px;
        font-size: 14px;
        background:white;
        width: 100%;
        padding-top: 15px;
       text-align: center;
        position: relative;
        /* bottom: -60px; */
}
.code {
    font-weight: 500px;
    font-size: 14px;
    background:white;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    /* bottom: -60px; */
}
/* holds the portfolio picture */
.fix {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin-bottom: 10px;
}
/* image of the project photo size */
.fix img {
    width: 100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fix #content{
    padding: 20px;
    text-align: center;
    background: red; 
}
/* makes the contect of the web page to have margin bottom */
.wrapper {
    width: 100%;
    background:#f4f7f6;
    margin-bottom: 5em;
    padding-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid{
    opacity: 0.9;
}
.navbar{
    opacity: 0.9;
}
/* my name background */
.navbar-brand
{
   background-color: lightcoral;
}

.navbar-brand h4{
    mix-blend-mode: hard-light;
    /* color: white; */
}
.wrapper h4{
    color: black;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
}
div.wrapper {
    background-color: #ffffff;
    border: 1px solid lightsalmon;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  div.wrapper p {
    /* margin: 5%; */
    font-size: 20px;
    font-weight: 900;
    color: black ;
  }
/* submit button background */
.submit-button{
    background-color: lightcoral;
    color: white;
}
.form-control{
    background-color: beige;
} 
.fix a{
    text-decoration: none;
    color: black;
}
.icon{
    width: 50px;
    height: 50px;
}
    
    
   
  


